header{
    background-color: #211F2A;
}
header > button{
    background: none;
<<<<<<< HEAD
=======
    backface-visibility: hidden;
>>>>>>> e46c1431460eb6ccac41d80ec90020f4fe375256
    color: #FFFFFF;
}
footer{
    background-color: #211F2A;
}
body{
    background-color: #211F2A;
    color: #FFFFFF;
    text-decoration: none;
}